services:
  web:
    build: .
    volumes:
      - ./backend/uploads:/app/uploads
    environment:
      - FLASK_ENV=production

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./data/certbot/conf:/etc/letsencrypt:ro
      - ./backend/static:/var/www/static
      - ./backend/uploads:/var/www/uploads
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - web
    command: [nginx, '-g', 'daemon off;']
  certbot:
    image: certbot/certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 1 & wait $${!}; done'"  